# Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
my_str="Hello student"
my_list=[1,8,'abc']
my_float=3.147
my_tupple=("aff","ghua","ggfrt")

# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [8]:
var1 = '' 
type(var1)

str

In [9]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [10]:
var3 = [ 'DS' , 'ML' , 'Python' ] 
type(var3)

list

In [11]:
var4 = 1
type(var4)

int

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [12]:
a=10
b=3

In [13]:
a/b

3.3333333333333335

In [14]:
a%b

1

In [15]:
a//b

3

In [16]:
a**b

1000

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [22]:
list=[1,5,8,'das','pwskill',8.5,4.69,'data',98,122]
for i in list:
    print(i)
    print(type(i))

1
<class 'int'>
5
<class 'int'>
8
<class 'int'>
das
<class 'str'>
pwskill
<class 'str'>
8.5
<class 'float'>
4.69
<class 'float'>
data
<class 'str'>
98
<class 'int'>
122
<class 'int'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [28]:
A=int(input())
B=int(input())
count=0
while A%B ==0 :
    A=A/B
    count+=1
if count>0:
    print(f"A is divisible by B {count} times")
else :
   print("A is not  divisible by B.")

40
2
A is divisible by B 3 times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [34]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l :
    if i%3==0 :
        print(i)
    else :
        print("Not divisible")

Not divisible
Not divisible
3
Not divisible
Not divisible
6
Not divisible
Not divisible
9
Not divisible
Not divisible
12
Not divisible
Not divisible
15
Not divisible
Not divisible
18
Not divisible
Not divisible
21
Not divisible
Not divisible
24
Not divisible

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [35]:
a = 5   # a is an integer, which is an immutable data type
b = "hello"  # b is a string, which is also immutable

a = a + 1  # creates a new integer object with value 6, and assigns it to a
b = b.upper()  # creates a new string object with all uppercase characters, and assigns it to b

print(a)  # output: 6
print(b)  # output: "HELLO"

6
HELLO

In [36]:
c = [1, 2, 3]  # c is a list, which is a mutable data type
d = {"a": 1, "b": 2}  # d is a dictionary, which is also mutable

c.append(4)  # modifies the existing list object to add a new element
d["c"] = 3  # modifies the existing dictionary object to add a new key-value pair

print(c)  # output: [1, 2, 3, 4]
print(d)  # output: {"a": 1, "b": 2, "c": 3}

[1, 2, 3, 4]
{'a': 1, 'b': 2, 'c': 3}